.navbarBackground {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url('/public/background-images/navbar-background.jpg');
    width: 100%;
    height: auto;
}

.max-gap {
  gap: clamp(0.75rem, 3vw, 4rem); /* 16px to 64px */
}
