<div class="relative chiffresClesBack overflow-hidden h-full py-8 xs:py-12"
      [ngClass]="{'!h-[110vh]': showScrollButtons,
                  '!h-[115vh]': !showScrollButtons}">
  <!-- if u have to change th class again maybe just  -->
  <div class="absolute w-2/3 lg:w-2/5 h-[100%] z-10 right-0 top-1/2 -translate-y-1/2
              flex justify-end">
    <img src="/chiffres-cles/big-logo-back.svg"
    class="absolute h-full w-full scale-y-125 md:scale-x-110 md:scale-y-100 object-cover filter saturate-90"
         [ngClass]="{'!scale-y-110': showScrollButtons}">
  </div>
  <!-- top logo + text + cards -->
  <div class="flex flex-col mt-4 justify-center gap-4 items-center overflow-hidden">
    <!-- now the top logo -->
    <div class="flex justify-center items-center w-32 h-12">
      <img class="h-full" src="/logo-wind-white.png"/>
    </div>

    <!-- now the title -->
    <div class="flex justify-center items-center">
      <app-generic-title [size]="'small'" [color]="'text-white'">
        Les chiffres clés de Wind consulting
      </app-generic-title>
    </div>
    <!-- now the description -->
    <div class="specialFont text-[#59EEFF] text-sm leading-6 sm:text-lg  text-center">
      <p>
        Wind Consulting vous apporte des solutions d’innovation digitale parfaitement adaptées à vos enjeux d’agilité.
      </p>
    </div>
    <!-- now the cards -->
    <div #chiffresScrollContainer appDetectHorizontalOverflow
         (isOverFlowing) = "showScrollButtons = $event"
         class="w-full scroll-smooth no-scrollbar overflow-x-auto flex gap-10 px-2.5 xs:px-9 md:px-12 z-20"
          [ngClass]= "{'justify-center': !showScrollButtons}">
      <div *ngFor="let chiffre of chiffres; let i = index"
            class="!snap-start !flex-shrink-0">
        <app-chiffres-cles-card [chiffreCle] = "chiffre"
                                [imageUrl]="backgroundImages[i]">
        </app-chiffres-cles-card>
      </div>
    </div>

    <!-- now the scroll buttons -->
    <div *ngIf="showScrollButtons" appScrollButtons [scrollTarget]="chiffresScrollContainer" [singleElementWidth]="cardWidth"
         #scrollBtns = "ScrollButtons"
          class="flex justify-center items-center gap-4 z-20 mt-2">
      <app-circular-button class="md:pr-8" (click)="scrollBtns.scroll('left')" [icon]="'left-scroll'"
                           [bgColor]="'bg-wind-blue'" [strokeColor]="'stroke-white'" [strokeWidth]=2
                           bgImage="background-images/generic-background/background1.svg">

      </app-circular-button>
      <app-scroll-pagination [scrollContainer]="chiffresScrollContainer" [singleElementWidth]="cardWidth"
                              color = 'bg-white'>
      </app-scroll-pagination>
      <app-circular-button class="md:pl-8" (click)="scrollBtns.scroll('right')" [icon]="'right-scroll'"
                           [bgColor]="'bg-wind-blue'" [strokeColor]="'stroke-white'" [strokeWidth]=2
                           bgImage="background-images/generic-background/background1.svg">

      </app-circular-button>

    </div>


  </div>


</div>


