<button class="relative bg-no-repeat bg-cover"
  [ngClass]="[height, width, bgColor, textColor, rounded]">
  <div class="absolute inset-0 bg-no-repeat bg-cover rounded-full"
      [ngClass]="imageOpacity"
      [ngStyle]="{
    'background-image': 'url(' + backgroundImageUrl + ')',
    'background-position': backgroundPosition
    }">
  </div>

  <div *ngIf="logo"
    class="absolute left-0 z-30 opacity-30 inset-y-0 bg-contain">
    <app-icon [icon] = whichLogo [logoSize]=logoSize>
    </app-icon>
  </div>

  <span *ngIf="!leftIcon && label" class="absolute flex inset-0 items-center justify-center font-normal">
    {{ label }}
  </span>
  <div *ngIf="icon" class="absolute right-4 top-1/2 -translate-y-1/2">
    <app-icon [icon]="icon" [strokeColor]="strokeColor" [strokeWidth]="strokeWidth">
    </app-icon>
  </div>


  <span *ngIf="leftIcon && label" class="pl-10 absolute flex inset-0 items-center">
    {{ label }}
  </span>
  <div *ngIf="leftIcon"
       class="absolute left-0 flex items-center z-30 inset-y-0">

    <app-circular-button size="w-8 h-8" [techIcon]="leftIcon" [bgColor]="iconBgColor"
                       [strokeColor]="strokeColor" [iconFillColor]="fillColor" >
    </app-circular-button>
  </div>

</button>
