@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@layer base {
}

@layer components {
}

@layer utilities {
  .specialFont {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }

  .page-container {
    @apply px-6 xs:px-8 sm:px-14 md:px-10 mlg:px-14 lg:px-20
  }
  /* hathe te3 navbar px-3 sm:!px-10 lg:!px-16 */
  /* projects: sm:ml-9 sm:!mr-16*/

  .navbar-background {
    background-image: url("../public/background-images/navbar-background.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-clip: border-box;
  }

  .drop-shadow-soft-white {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.15));
  }

  .custom-curve {
    clip-path: ellipse(90% 100% at 5% 50%);
  }

  .custom-curve-reverse {
    clip-path: ellipse(90% 100% at 95% 50%);
  }

  .custom-curve-reverse-upside-down {
    clip-path: ellipse(100% 90% at 50% 95%);
  }

  .custom-curve1 {
    clip-path: ellipse(90% 100% at 5% 50%);
  }

  .drop-shadow-curve {
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.1));
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .bottom-wave-mobile {
    clip-path: polygon(100% 0%, 0% 0% , 0.00% 82.00%, 2.00% 81.55%, 4.00% 81.08%, 6.00% 80.58%, 8.00% 80.08%, 10.00% 79.58%, 12.00% 79.09%, 14.00% 78.61%, 16.00% 78.15%, 18.00% 77.72%, 20.00% 77.32%, 22.00% 76.97%, 24.00% 76.67%, 26.00% 76.42%, 28.00% 76.22%, 30.00% 76.09%, 32.00% 76.01%, 34.00% 76.00%, 36.00% 76.06%, 38.00% 76.17%, 40.00% 76.35%, 42.00% 76.58%, 44.00% 76.87%, 46.00% 77.20%, 48.00% 77.58%, 50.00% 78.00%, 52.00% 78.45%, 54.00% 78.92%, 56.00% 79.42%, 58.00% 79.92%, 60.00% 80.42%, 62.00% 80.91%, 64.00% 81.39%, 66.00% 81.85%, 68.00% 82.28%, 70.00% 82.68%, 72.00% 83.03%, 74.00% 83.33%, 76.00% 83.58%, 78.00% 83.78%, 80.00% 83.91%, 82.00% 83.99%, 84.00% 84.00%, 86.00% 83.94%, 88.00% 83.83%, 90.00% 83.65%, 92.00% 83.42%, 94.00% 83.13%, 96.00% 82.80%, 98.00% 82.42%, 100.00% 82.00%);
  }
  .bottom-wave {
    clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 94.13%,
      2% 94.05%,
      4% 93.83%,
      6% 93.46%,
      8% 92.96%,
      10% 92.33%,
      12% 91.59%,
      14% 90.76%,
      16% 89.86%,
      18% 88.9%,
      20% 87.92%,
      22% 86.92%,
      24% 85.93%,
      26% 84.98%,
      28% 84.09%,
      30% 83.28%,
      32% 82.56%,
      34% 81.95%,
      36% 81.47%,
      38% 81.13%,
      40% 80.93%,
      42% 80.88%,
      44% 80.98%,
      46% 81.23%,
      48% 81.62%,
      50% 82.14%,
      52% 82.79%,
      54% 83.54%,
      56% 84.38%,
      58% 85.3%,
      60% 86.26%,
      62% 87.25%,
      64% 88.25%,
      66% 89.23%,
      68% 90.17%,
      70% 91.05%,
      72% 91.85%,
      74% 92.55%,
      76% 93.14%,
      78% 93.6%,
      80% 93.92%,
      82% 94.09%,
      84% 94.12%,
      86% 93.99%,
      88% 93.72%,
      90% 93.31%,
      92% 92.76%,
      94% 92.1%,
      96% 91.33%,
      98% 90.47%,
      100% 89.55%
    );
  }
  .top-wave-mobile {
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 5.87%,
      8% 7.04%,
      16% 10.14%,
      24% 14.07%,
      32% 17.44%,
      40% 19.07%,
      48% 18.38%,
      56% 15.62%,
      64% 11.75%,
      72% 8.15%,
      80% 6.08%,
      88% 6.28%,
      96% 8.67%,
      100% 10.45%
    );
  }
  .top-wave-mobile {
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 14.17%,
      2% 13.96%,
      4% 13.74%,
      6% 13.51%,
      8% 13.28%,
      10% 13.06%,
      12% 12.83%,
      14% 12.62%,
      16% 12.42%,
      18% 12.23%,
      20% 12.07%,
      22% 11.93%,
      24% 11.82%,
      26% 11.74%,
      28% 11.69%,
      30% 11.67%,
      32% 11.68%,
      34% 11.72%,
      36% 11.79%,
      38% 11.9%,
      40% 12.03%,
      42% 12.18%,
      44% 12.36%,
      46% 12.55%,
      48% 12.77%,
      50% 12.99%,
      52% 13.21%,
      54% 13.44%,
      56% 13.67%,
      58% 13.89%,
      60% 14.11%,
      62% 14.3%,
      64% 14.48%,
      66% 14.64%,
      68% 14.77%,
      70% 14.87%,
      72% 14.94%,
      74% 14.99%,
      76% 15%,
      78% 14.98%,
      80% 14.93%,
      82% 14.85%,
      84% 14.74%,
      86% 14.6%,
      88% 14.44%,
      90% 14.26%,
      92% 14.06%,
      94% 13.84%,
      96% 13.62%,
      98% 13.39%,
      100% 13.16%
    );
  }

  .links-container {
    @apply flex flex-col;
  }

  @screen md {
    .links-container {
      @apply grid gap-8;
      grid-template-columns: 2fr 1fr 1fr 1.5fr;
    }
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
