<!-- <div>
    <button class="relative" (click)="toggleMenu()">
        <div class="relative flex overflow-hidden items-center justify-center rounded-full 
        transition-all bg-wind-blue ring-0 ring-gray-300 
        hover:ring-8 focus:ring-4 ring-opacity-30 duration-200 shadow-md
        w-[45px] h-[45px]     
        xs:w-[50px] xs:h-[50px]  
        sm:w-[55px] sm:h-[55px]">
            <div
                class="flex flex-col justify-between w-[20px] h-[20px] transition-all duration-300 origin-center overflow-hidden">
                <div class="bg-white h-[2px] w-7 transform transition-all duration-300 origin-left" [ngClass]="{
            'rotate-41 ': isMenuOpen,
            'rotate-0': !isMenuOpen
          }"></div>
                <div class="bg-white h-[2px] w-7 rounded transform transition-all duration-300" [ngClass]="{
            'opacity-0': isMenuOpen,
            'opacity-100': !isMenuOpen
          }"></div>
                <div class="bg-white h-[2px] w-7 transform transition-all duration-300 origin-left" [ngClass]="{
            '-rotate-41': isMenuOpen,
            'rotate-0': !isMenuOpen
          }"></div>
            </div>
        </div>
    </button>

</div> -->

<div>
    <button (click)="toggleMenu()">
        <app-circular-button *ngIf="!isMenuOpen" icon="hamburger-menu" bgColor="bg-wind-blue" size="w-12 h-12" strokeColor="stroke-white"></app-circular-button>
        <app-circular-button *ngIf="isMenuOpen" icon="x-mark" bgColor="bg-wind-blue" size="w-12 h-12" strokeColor="stroke-white"></app-circular-button>
    </button>
</div>